extends layout

block content
  h2 #{title}
  h3 #{message}
  - var servers = statdata.servers
  - var noOfLines = 2;
  - var size = (100 / (statdata.length / noOfLines))
  each item, i in servers
    div(style='width: '+(size)+'%; height: '+(size)+'%; float: left;')= item.name+'!'
      - var chartdata = JSON.stringify(item);
      h1 #{item.name}
      canvas(id='chart'+i, style='border:1px solid #000;')
      script(type='text/javascript').
        $( document ).ready(function(){

          /* get the data */
          var data = !{chartdata};
          var canvas = $('#chart#{i}').get(0);
          var ctx = canvas.getContext('2d');

          if (data.isDown) {
            /* server is down */
            ctx.beginPath();
            ctx.moveTo(0, 0);
            ctx.lineTo(canvas.width, canvas.height);
            ctx.moveTo(canvas.width, 0);
            ctx.lineTo(0, canvas.height);
            ctx.stroke();
          }
          else {
            /* draw charts */
            var doughnut = new Chart(ctx).Doughnut(data.cpu);
          }
        });

  script(src='/javascripts/Chart.min.js')